{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div>
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Specialization</th>
                <th>Specialist</th>
                <th>Subject</th>
                <th>Problems</th>
            </tr>
            {% for appointment in app.user.specialistAppointments %}
                <tr>
                    <td>{{ appointment.date|date('d-m-Y') }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{{ appointment.specialist.specialization }}</td>
                    <td>{{ appointment.specialist }}</td>
                    <td>{{ appointment.subject }}</td>
                    <td>{{ appointment.problems }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path('app_add_appointment') }}">Make Appointment</a>
    </div>
{% endblock %}
